/* alignment styles */
<<<<<<< HEAD
/* line 3, ../../../../.rvm/gems/ruby-1.8.7-p370/bundler/gems/gko_cms3-618eeaae867e/gko_core/app/assets/stylesheets/wym_theme.css.scss */
=======
/* line 3, ../../../../.rvm/gems/ruby-1.8.7-p374/bundler/gems/gko_cms3-cbed22504428/gko_core/app/assets/stylesheets/wym_theme.css.scss */
>>>>>>> 4c935f4d60018dc12df717dda789944943f1a2b9
.text-align-left {
  text-align: left;
}

<<<<<<< HEAD
/* line 7, ../../../../.rvm/gems/ruby-1.8.7-p370/bundler/gems/gko_cms3-618eeaae867e/gko_core/app/assets/stylesheets/wym_theme.css.scss */
=======
/* line 7, ../../../../.rvm/gems/ruby-1.8.7-p374/bundler/gems/gko_cms3-cbed22504428/gko_core/app/assets/stylesheets/wym_theme.css.scss */
>>>>>>> 4c935f4d60018dc12df717dda789944943f1a2b9
.text-align-center {
  text-align: center;
}

<<<<<<< HEAD
/* line 11, ../../../../.rvm/gems/ruby-1.8.7-p370/bundler/gems/gko_cms3-618eeaae867e/gko_core/app/assets/stylesheets/wym_theme.css.scss */
=======
/* line 11, ../../../../.rvm/gems/ruby-1.8.7-p374/bundler/gems/gko_cms3-cbed22504428/gko_core/app/assets/stylesheets/wym_theme.css.scss */
>>>>>>> 4c935f4d60018dc12df717dda789944943f1a2b9
.text-align-right {
  text-align: right;
}

<<<<<<< HEAD
/* line 15, ../../../../.rvm/gems/ruby-1.8.7-p370/bundler/gems/gko_cms3-618eeaae867e/gko_core/app/assets/stylesheets/wym_theme.css.scss */
=======
/* line 15, ../../../../.rvm/gems/ruby-1.8.7-p374/bundler/gems/gko_cms3-cbed22504428/gko_core/app/assets/stylesheets/wym_theme.css.scss */
>>>>>>> 4c935f4d60018dc12df717dda789944943f1a2b9
.text-align-justify {
  text-align: justify;
}

/* block alignment styles */
<<<<<<< HEAD
/* line 20, ../../../../.rvm/gems/ruby-1.8.7-p370/bundler/gems/gko_cms3-618eeaae867e/gko_core/app/assets/stylesheets/wym_theme.css.scss */
=======
/* line 20, ../../../../.rvm/gems/ruby-1.8.7-p374/bundler/gems/gko_cms3-cbed22504428/gko_core/app/assets/stylesheets/wym_theme.css.scss */
>>>>>>> 4c935f4d60018dc12df717dda789944943f1a2b9
.image-align-left {
  float: left;
  margin-right: 6px;
  margin-bottom: 6px;
}

<<<<<<< HEAD
/* line 26, ../../../../.rvm/gems/ruby-1.8.7-p370/bundler/gems/gko_cms3-618eeaae867e/gko_core/app/assets/stylesheets/wym_theme.css.scss */
=======
/* line 26, ../../../../.rvm/gems/ruby-1.8.7-p374/bundler/gems/gko_cms3-cbed22504428/gko_core/app/assets/stylesheets/wym_theme.css.scss */
>>>>>>> 4c935f4d60018dc12df717dda789944943f1a2b9
.image-align-right {
  float: right;
  margin-left: 6px;
  margin-bottom: 6px;
}

/* font sizes */
<<<<<<< HEAD
/* line 33, ../../../../.rvm/gems/ruby-1.8.7-p370/bundler/gems/gko_cms3-618eeaae867e/gko_core/app/assets/stylesheets/wym_theme.css.scss */
=======
/* line 33, ../../../../.rvm/gems/ruby-1.8.7-p374/bundler/gems/gko_cms3-cbed22504428/gko_core/app/assets/stylesheets/wym_theme.css.scss */
>>>>>>> 4c935f4d60018dc12df717dda789944943f1a2b9
.font-size-small {
  font-size: 0.75em;
}

<<<<<<< HEAD
/* line 37, ../../../../.rvm/gems/ruby-1.8.7-p370/bundler/gems/gko_cms3-618eeaae867e/gko_core/app/assets/stylesheets/wym_theme.css.scss */
=======
/* line 37, ../../../../.rvm/gems/ruby-1.8.7-p374/bundler/gems/gko_cms3-cbed22504428/gko_core/app/assets/stylesheets/wym_theme.css.scss */
>>>>>>> 4c935f4d60018dc12df717dda789944943f1a2b9
.font-size-normal {
  font-size: 1em;
}

<<<<<<< HEAD
/* line 41, ../../../../.rvm/gems/ruby-1.8.7-p370/bundler/gems/gko_cms3-618eeaae867e/gko_core/app/assets/stylesheets/wym_theme.css.scss */
=======
/* line 41, ../../../../.rvm/gems/ruby-1.8.7-p374/bundler/gems/gko_cms3-cbed22504428/gko_core/app/assets/stylesheets/wym_theme.css.scss */
>>>>>>> 4c935f4d60018dc12df717dda789944943f1a2b9
.font-size-large {
  font-size: 1.25em;
}
