/* CUSTOMIZE THE NAVBAR
-------------------------------------------------- */
.navbar {
  .nav > li > a {
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 1px;
    font-size: 11px;
    @include transition(all 0.3s ease-in-out);
  }
}

.navbar-brand {
  padding-top: ($navbar-height - $th-brand-logo-height)/2;
  padding-bottom: ($navbar-height - $th-brand-logo-height)/2;
}

/* CUSTOMIZE THE LANGUAGE MENU
-------------------------------------------------- */
.topbar {
  background-color: $gray-dark;
  color: $brand-primary;
  padding-top: 12px;
  padding-bottom: 12px;
  a {
    padding: 0;
    &:hover,
    &:focus {
      text-decoration: none;
      color: #fff;
    }
  }
  @media (max-width: 767px) {
    
  }
}
#locales-menu {
  .nav {
    float: right;
  }
  .nav > li > a { 
    color: $brand-primary;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 11px;
    padding: 0 30px;
    background-color: transparent;
    @include transition(all 0.3s ease-in-out);
    padding-right: 15px;
    &:hover,
    &:focus {
      background-color: transparent;
      color: #fff;
    }
  }
}