/* CUSTOMIZE THE NAVBAR
-------------------------------------------------- */
.navbar {
  .nav > li > a {
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 1px;
    font-size: 11px;
    @include transition(all 0.3s ease-in-out);
  }
}

.navbar-brand {
  padding-top: ($navbar-height - $th-brand-logo-height)/2;
  padding-bottom: ($navbar-height - $th-brand-logo-height)/2;
}

/* CUSTOMIZE THE LANGUAGE MENU
-------------------------------------------------- */
.topbar {
  background-color: $theme-secondary-color;
  color: $brand-primary;
  padding-top: 12px;
  padding-bottom: 12px;
  a {
    display: block;
    text-align: center;
    padding: 0;
    font-size: $font-size-small;
    &:hover,
    &:focus {
      text-decoration: none;
      color: #fff;
    }
    @media (min-width: $screen-sm-min) {
      display: inline-block;
      text-align: left;
    }
  }
}
#locales-menu {
  .nav {
    float: right;
  }
  .nav > li > a { 
    color: $brand-primary;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 10px;
    padding: 0 30px;
    background-color: transparent;
    @include transition(all 0.3s ease-in-out);
    padding-right: 15px;
    &:hover,
    &:focus {
      background-color: transparent;
      color: #fff;
    }
  }
}