//
// Product page
// --------------------------------------------------
.single-product {
  h4 {
    margin-top: $line-height-computed * 1.5;
    padding-bottom: $line-height-computed / 6;
    border-bottom: 3px solid $theme-secondary-color;
    text-transform: uppercase;
    color: $brand-primary;
    font-size: $font-size-h4 - 2;
    letter-spacing: 1px;
  }
  .table {
    width: 100%;
  }
  .carousel {
    margin-bottom: $line-height-computed;
  }
  .btn-reservation {
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: $font-size-h4 - 2; // like h4
  } 
}