.thumbnail {
  position: relative;
  min-height: 210px;
  a {
    &:hover,
    &:focus {
      text-decoration: none;
    }
    
    > img {
      margin-left: 0;
      margin-right: auto;
      
      @media (min-width: $grid-float-breakpoint) {
        margin-left: auto;
      }
      
    }
  }
  
  .thumbnail-title {
    font-size: $font-size-base;
    text-transform: uppercase;
    border-bottom: 3px solid $gray-dark;
    @include transition(all 0.3s ease-in-out);
  }
  &:hover {
    .thumbnail-title {
      border-bottom-color: $brand-primary;
    }
  }
}