<%# resource_cache(resource) do %> 
<div class="container"> 
  <div class="page-header">
    <h1><%= resource.title %></h1>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <article>
        <%= render_slideshow_for(resource) %>
        <%= render_copy_text(resource.body) %>
      </article>
    </div>
  </div>
</div>
<%# end %>
