$theme-color: #FF6600;
$theme-secondary-color: #203A42;
$th-brand-logo-height: 50px;

@import "theme/variables";
@import "bootstrap.3.0.3/bootstrap";
@import "font-awesome";
@import "theme/type";
@import "theme/navbar";
@import "theme/footer";
@import "theme/form";
@import "theme/carousel";
@import "theme/thumbnails";
@import "theme/home";
@import "theme/products";

/* FIX FOR IE DEVICE_WIDTH BUG
-------------------------------------------------- */
@-webkit-viewport{width:device-width}
@-moz-viewport{width:device-width}
@-ms-viewport{width:device-width}
@-o-viewport{width:device-width}
@viewport{width:device-width}

// Color for the placeholder plugin
.placeholder {
  color: $input-color-placeholder;
}

/* FIX FOR GMAP BUG
-------------------------------------------------- */
#map-canvas {
  height: 350px;
  width: 100%;
  @include box-sizing(content-box);
  margin-bottom: $line-height-computed;
  img {
    max-width: none;
    vertical-align: middle;
    border: 0;
    -ms-interpolation-mode: bicubic;
  }
}

.table-rates {
  font-size: $font-size-small;
}

#thumbnails-partner {
  .thumbnail {
    min-height: 100px;
    .thumbnail-image {
      float: left;
    }
    a {
      > img {
        margin-left: 0;
        margin-right: auto;
      
        @media (min-width: $grid-float-breakpoint) {
          margin-left: 0;
        }
      }
    }
    .caption {
      float: left;
      padding-left: 20px;
    }
  }
}