$theme-color: #FF6600;
$th-brand-logo-height: 37px;

@import "theme/variables";
@import "bootstrap.3.0.3/bootstrap";
@import "font-awesome";
@import "theme/navbar";
@import "theme/footer";
@import "theme/form";
@import "theme/carousel";
@import "theme/home";
@import "theme/products";

/* FIX FOR IE DEVICE_WIDTH BUG
-------------------------------------------------- */
@-webkit-viewport{width:device-width}
@-moz-viewport{width:device-width}
@-ms-viewport{width:device-width}
@-o-viewport{width:device-width}
@viewport{width:device-width}

// Color for the placeholder plugin
.placeholder {
  color: $input-color-placeholder;
}

/* FIX FOR GMAP BUG
-------------------------------------------------- */
#map-canvas {
  height: 350px;
  width: 100%;
  @include box-sizing(content-box);
  margin-bottom: $line-height-computed;
  img {
    max-width: none;
    vertical-align: middle;
    border: 0;
    -ms-interpolation-mode: bicubic;
  }
}

.page-header {
  border-bottom: 6px solid $page-header-border-color;
  padding-bottom: 0;
  h1 {
    text-transform: uppercase;
    display: inline-block;
  }
}




