<article class="col-xs-12 col-sm-6 thumbnail-item">
  <div class="thumbnail">
  <%= link_to(car.public_url) do %>
    <%= image_tag(car.thumbnail.thumbnail("450x325#").url(), :alt => car.thumbnail.title, :class => "img-responsive" ) if car.thumbnail %>
    <div class="caption">
      <h4 class="thumbnail-title"><%= car.title %></h4>
    </div>
    <div class="wrap"></div>
    <i class="icon-zoom-in icon-2x"></i> 
  <% end %>
  </div>
</article>